.main-container {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    
  }
  .cards-container{  
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
  }