.product_card {
	width: 20;
	border: none;
}

.card_body {
	width: 90%;
	display: block;
	font-size: 2em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.padding {
	padding-top: 3%;
	width: 90%;
}

.heading {
	font-size: large;
	text-shadow: 10px;
}
